.CardBox2 {
  position: absolute;
  top: 1rem;
  right: 29.7rem;
  z-index: 5;
}

.CardCon2 {
  width: 29.624rem;
  height: 14.426rem;
  background-color: rgba(196, 196, 196, 0.13);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerCon2 {
  width: 22.154rem;
  height: 10.839rem;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCon2 {
  width: 7.728rem;
  height: 7.728rem;
  background-color: #6f7e9033;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.cardImg2 {
  width: 2.576rem;
  height: 1.9rem;
}

.businessTextInnerBox2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figure2 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.7rem;
  color: #212327;
}

.text2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 2rem;
  padding-left: 1.5rem;
}
