@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,600&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

.contentWrapper {
  margin: 2rem auto;
  width: 144rem;
  min-height: 90rem;
  background: conic-gradient(
    from 239.4deg at 49.96% 95.31%,
    #4b36d7 -50.09deg,
    #ffffff 26.09deg,
    #4b36d7 60.67deg,
    rgba(75, 54, 215, 0.68) 110.27deg,
    #4b36d7 173.44deg,
    #ffffff 190.83deg,
    #4b36d7 309.91deg,
    #ffffff 386.09deg
  );
}

.backtoMainBox {
  display: flex;
  padding-top: 4.9rem;
  cursor: pointer;
}

.backtoMainImg {
  margin-left: 11.1rem;
  margin-right: 1.1rem;
}

.backtoMainText {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2rem;
  letter-spacing: 0.2px;
  color: #fff;
}

.logoBox {
  display: flex;
  justify-content: center;
}

.logoText {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.3rem;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #fff;
}

.formBoxCon {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.formBox {
  width: 50.8rem;
  height: 52.5rem;
  background: rgba(75, 54, 215, 0.28);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.keyImgBox {
  margin-top: 2rem;
}

.formHeader {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2rem;
  letter-spacing: 0.9px;
  color: #fff;
  text-align: right;
  margin-left: -3rem;
}

.formText {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 0.2px;
  color: #fff;
}

.inputBoxEmail {
  width: 32.546rem;
  height: 5rem;
  margin-bottom: 3.8rem;
  margin-left: -1rem;
  border-radius: 5px;
  border: 1px solid #fff;

  position: relative;
}

.inputEmail {
  width: 86%;
  height: 90%;
  margin-left: 3.7rem;
  margin-top: 2px;
  padding-top: 3px;
  padding-left: 3px;

  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.2px;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.inputEmail::placeholder {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.2px;
  color: #fff;
  opacity: 0.5;
}

.inputEmailIcon {
  position: absolute;
  top: 1.8rem;
  left: 1.6rem;
}

.submitBtnBox {
  margin-bottom: 4.2rem;
  margin-left: -1rem;
}

.submitBtn {
  width: 32.546rem;
  height: 5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2rem;
  letter-spacing: 0.2px;
  color: #fff;
  background-color: #3521b5;
}
