@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,600&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

.card {
  width: 24.936rem;
  height: 12.2rem;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.cardImg {
  margin-right: 2.2rem;
}

.cardText {
  display: flex;
  flex-direction: column;
}

.text1 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.7rem;
  color: #212327;
  margin-bottom: 1.2rem;
}

.text2 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: #212327;
  margin-left: 0.3rem;
}
