@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,600&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 2.7rem;
  margin-bottom: 2.4rem;
}

.leftSection {
  display: flex;
  align-items: center;
  margin-left: 1.8rem;
}

.usersText {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
  color: #141414;
  opacity: 0.6;
  margin-right: 2.9rem;
}

.select {
  width: 12.9rem;
  height: 2.9rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: #141414;
  background-color: #e5e5e5;
  opacity: 0.8;
  border: 1px solid #427a98;
  outline: none;
}

.option {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: #141414;
  opacity: 0.8;
}

.rightSection {
  display: flex;
  align-items: center;
}

.inputBox {
  width: 22.8rem;
  height: 2.9rem;
  position: relative;
  border-radius: 5px;
  border: 1px solid #e2e2ec;
  background-color: #f0f3f8;
}

.inputIcon {
  position: absolute;
  top: 0.6rem;
  left: 1rem;
}

.inputFilter {
  width: 85%;
  height: 90%;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
  margin-top: 1px;
  margin-right: 3px;
  background-color: #f0f3f8;
  border-width: 0px;
  outline: none;
}

.inputFilter::placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #000;
  opacity: 0.4;
}

.filterBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2.1rem;
  margin-right: 1.4rem;
  width: 8.1rem;
  height: 2.9rem;
  background-color: #8c87af;
}

.filterIcon {
}

.filterText {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: #fff;
}

.shapeType {
}

.typeBtn {
  width: 2.8rem;
  height: 2.9rem;
  border: none;
  outline: none;
  background-color: #4b36d742;
}

.typeBtnImg {
}
