@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,600&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

.formContainer {
  width: 61rem;
  height: 51.6rem;
  border-radius: 5px;
  background-color: #f9f9f9;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formCentered {
  margin-left: 8.4rem;
  margin-top: 3.7rem;
  margin-right: 8.4rem;
  position: relative;
}

.formHeader {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.2px;
  color: #141414;
  margin-bottom: 1.7rem;
}
.formSubHeader {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  color: #141414;
  margin-bottom: 3.8rem;
}

.oldPass,
.newPass,
.confirmPass,
.submitBtn {
  width: 44.2rem;
  height: 5rem;
  border: 1px solid #c4c4c4;
  background-color: #f9f9f9;
  outline: none;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.2px;
  color: #141414;
  padding-left: 3.2rem;
  margin-bottom: 2rem;
}

.oldPass::placeholder {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.2px;
  color: #1414148c;
  padding-top: 1.4rem;
  padding-left: 1.6rem;
}

.newPass::placeholder {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.2px;
  color: #1414148c;
  padding-top: 1.4rem;
  padding-left: 1.6rem;
}

.confirmPass::placeholder {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.2px;
  color: #1414148c;
  padding-top: 1.4rem;
  padding-left: 1.6rem;
}

.submitBtn {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2rem;
  letter-spacing: 0.2px;
  color: #fff;
  background-color: #3521b5;
  margin-top: 4rem;
}
