@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,600&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

.subContainer {
  width: 50.5rem;
  height: 29.6rem;
  margin-right: 1.5rem;
  margin-left: 3rem;
  margin-bottom: 1.4rem;
  background-color: #fff;

  display: flex;
}

.subStatus {
  width: 19.5rem;
  height: 29.6rem;
  background-color: #84fff98a;

  position: relative;
}

.subStatusImg {
  position: absolute;
  bottom: 0rem;
}

.subStatusText {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #559878;

  position: absolute;
  top: 19.8rem;
  left: 5.7rem;
}

.subInfo {
  margin-left: 4.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: relative;
}

.subRange {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  color: #212327;
}

.subPrice {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.7rem;
  color: #212327;
}

.priceSpan {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #212327;
  display: inline-block;

  position: absolute;
  top: 13.8rem;
  left: 13.7rem;
}

.subCapacity {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  color: #0ba69d;
}
