.CardBox1 {
  position: absolute;
  top: -4rem;
  right: 3.3rem;
  z-index: 5;
}

.CardCon {
  width: 29.624rem;
  height: 14.426rem;
  background-color: rgba(235, 161, 91, 0.068);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerCon {
  width: 22.154rem;
  height: 10.839rem;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCon {
  width: 7.728rem;
  height: 7.728rem;
  background-color: #eba15b23;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.cardImg1 {
  width: 2.576rem;
  height: 1.9rem;
}

.businessTextInnerBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figure {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.7rem;
  color: #212327;
}

.text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 2rem;
  padding-left: 1.5rem;
}
